@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<div class="col-md-8">
    
</div>
<div class="col-md-4 grayback">
    <p>
        <br/>
        Thank you for your interest in LINEA System. We look forward to partnering with you to help advance patient care and deliver solutions to achieve your business imperatives.
    </p>
    <br/>
    <h4><strong>LINEA Systems, LLC</strong></h4><br/>

    <address>
        <strong>Corporate Headquarters</strong><br/>
        140 Littleton Rd., Suite 220<br/>
        Parsippany, NJ 07054<br/>
        <br/>
        <b>West Coast</b><br/>
        2099 Pacific Blvd #1-202<br/>
        San Mateo, CA 94403<br/>
        <br/>
        <strong>Phone:</strong> +1 (862) 261-9108<br/>
        <strong>Fax:</strong> +1 (973) 206-5849<br/>
    </address>

    <address>
        <a href="mailto:info@lineasystems.com">info@lineasystems.com</a><br/>
    </address>

    <p><small>Minority and Women Business Enterprise (MWBE)</small></p>
</div>